* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    animation-name: move;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.circle1 {
    animation-delay: 0s;
}

.circle2 {
    animation-delay: 0.2s;
}

.circle3 {
    animation-delay: 0.4s;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}